@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Work Log Form: <a href="/Home/WorkLogEntry">Enter your work time here</a>.</p>

    

</div>
